*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%) ;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light_gray);
}
div>img{
    width: 320px;
    height: auto;
    border-radius: 10px;
}
div.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--White);
}
div>p{
    align-content: center;
    color: var(--Grayish_blue);
    margin: 10px 20px 40px 20px;
}
h2{
    margin: 20px;
}